.home {
    padding-top: 3rem;
    min-height: 200vh;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    padding-bottom: 5rem;
}

.home__container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.home__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    grid-gap: 5px;
}

/* .home__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(200px, 500px);
    grid-gap: 20px;
} */

.grid__item:nth-child(1) {
    grid-row: span 3;
}

.grid__item:nth-child(2) {
    grid-row: span 4;
}
.grid__item:nth-child(3) {
    grid-row: span 3;
}
.grid__item:nth-child(5),
.grid__item:nth-child(13),
.grid__item:nth-child(15),
.grid__item:nth-child(17),
.grid__item:nth-child(19),
.grid__item:nth-child(21),
.grid__item:nth-child(23),
.grid__item:nth-child(25),
.grid__item:nth-child(27),
.grid__item:nth-child(29),
.grid__item:nth-child(31),
.grid__item:nth-child(33),
.grid__item:nth-child(35) {
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    grid-row: span 3;
}


.grid__item:nth-child(4),
.grid__item:nth-child(6),
.grid__item:nth-child(7),
.grid__item:nth-child(8),
.grid__item:nth-child(9),
.grid__item:nth-child(10),
.grid__item:nth-child(11),
.grid__item:nth-child(12),
.grid__item:nth-child(14),
.grid__item:nth-child(16),
.grid__item:nth-child(18),
.grid__item:nth-child(20),
.grid__item:nth-child(22),
.grid__item:nth-child(24),
.grid__item:nth-child(26),
.grid__item:nth-child(28),
.grid__item:nth-child(30) {
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    grid-row: span 3;
}

.grid__item {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    cursor: pointer;
    
}



.grid__item:hover img {
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    transform: scale(1.05);
}

.grid__item img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}



.preview__modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.722);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(141, 141, 141, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.preview__content {
    max-width: 100%;
    max-height: 90%;
}

.preview__content img {
    display: block;
    width: 75vw;
    height: 90vh;
    object-fit: contain;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.preview__content img.zoomed {
    transform: scale(2);
}

.preview__close {
    position: absolute;
    top: 2rem;
    right: 2rem;
}

.preview__close button {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 0.1rem;
    font-size: 1.5rem;
    color: #ffffda;
    background-color: transparent;
}

.preview__buttons button {
    width: 6rem;
    height: 2rem;
    cursor: pointer;
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    border-radius: 0.1rem;
    font-size: 2rem;
    margin: 0 0.5rem;
    background-color: transparent;
    color: #ffffda;
}

.preview__buttons button h1 {
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
}

.button__next {
    position: absolute;
    top: 50%;
    right: 2rem;
}

.button__prev {
    position: absolute;
    top: 50%;
    left: 4rem;
}

@media (max-width: 470px) {
    .preview__content img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .button__next {
        position: absolute;
        top: 50%;
        right: -1rem;
    }

    .button__prev {
        position: absolute;
        top: 50%;
        left: -1rem;
    }

    .home__grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .grid__item:nth-child(5),
    .grid__item:nth-child(13),
    .grid__item:nth-child(15),
    .grid__item:nth-child(17),
    .grid__item:nth-child(19),
    .grid__item:nth-child(21),
    .grid__item:nth-child(23),
    .grid__item:nth-child(25),
    .grid__item:nth-child(27),
    .grid__item:nth-child(29),
    .grid__item:nth-child(31),
    .grid__item:nth-child(33),
    .grid__item:nth-child(35) {
        grid-row: span 1;
    }

    .grid__item:nth-child(3),
    .grid__item:nth-child(4),
    .grid__item:nth-child(6),
    .grid__item:nth-child(7),
    .grid__item:nth-child(8),
    .grid__item:nth-child(9),
    .grid__item:nth-child(10),
    .grid__item:nth-child(11),
    .grid__item:nth-child(12),
    .grid__item:nth-child(14),
    .grid__item:nth-child(16),
    .grid__item:nth-child(18),
    .grid__item:nth-child(20),
    .grid__item:nth-child(22),
    .grid__item:nth-child(24),
    .grid__item:nth-child(26),
    .grid__item:nth-child(28),
    .grid__item:nth-child(30) {
        grid-row: span 2;
    }
    .grid__item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
    }
}