.nav {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 90%;
    z-index: 1;
    padding: 2rem 3rem;
    left: 5%;
    border-bottom: 1px solid  var(--border-text-color);;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.125rem;
    gap: 4rem;
}

.nav__left {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Panchang-Regular";
    letter-spacing: 0.1rem;
    text-transform: lowercase;
}

.nav__left a {
    text-decoration: none;
    color: var(--title-color);
}

.nav__right a {
    text-decoration: none;
    color: var(--title-color);
}

.nav__logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Panchang-Medium";
    letter-spacing: 0.3rem;
}

.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Panchang-Regular";
    letter-spacing: 0.1rem;
    text-transform: lowercase;
}

