.nav {
    overflow: hidden;
    position: relative;
    top: 0;
    width: 90%;
    z-index: 1;
    padding: 2rem 3rem;
    left: 5%;
    border-bottom: 1px solid  var(--border-text-color);;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
}

.nav__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 4.125rem;
    gap: 4rem;
}

.nav__container a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Panchang-Regular";
    letter-spacing: 0.1rem;
    text-transform: lowercase;
    position: relative;
}

.nav__container a::after {
    content: "";
    position: absolute;
    display: block;
    width: 0rem;
    height: 2px;
    bottom: -3.3rem;
    background-color: var(--title-color);
    transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

.nav__container a:hover::after {
    width: 9rem;
}

.nav__logo h1 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--title-color);
    font-family: "Panchang-Medium";
    letter-spacing: 0.3rem;
}




@media (max-width: 470px) {
    .nav {
        gap: 1rem;
    }
    .nav__container {
        gap: 1rem;
        font-size: 1.1rem;
    }
    .nav__container a {
        font-size: 1rem;
    }
    .nav__logo h1 {
        font-size: 1.2rem;
    }
}