.socials__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3rem;
    transform: translateX(14rem);
}

.socials__content {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.5rem;
    transition: all 0.5s ease-in-out;
}

.socials__content ul {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    gap: 1rem;
}

.socials__content ul li {
    margin: 0 0.5rem;
}

.socials__content ul li a {
    color: var(--text-color);
    font-size: 2rem;
    transition: all 0.5s ease-in-out;
}

.socials__content ul li a:hover {
    color: var(--title-color);
}

@media (max-width: 470px)  {
    .socials__container {
        transform: translateX(7rem);
        margin-bottom: 4rem;
        margin-top: 1rem;
    }
    .socials__content {
        margin: 0 0.2rem;
    }
    .socials__content ul li a {
        font-size: 2rem;
    }
}