.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    z-index: 1;
    padding: 2rem 3rem;
    border-top: 1px solid var(--border-text-color);
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 4.125rem;
}

.footer__content {
    line-height: 1.8rem;
    gap: 0;
}

.footer__container p {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    font-size: 1rem;
    font-family: "Panchang-Medium";
    color: var(--title-color);
    letter-spacing: 0.1rem;
    text-transform: lowercase;
}

.footer__container span {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    font-size: 0.8rem;
    font-family: "Panchang-Medium";
    color: var(--title-color);
    letter-spacing: 0.1rem;
    text-transform: lowercase;
}
.footer__container span a {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.8rem;
    font-family: "Panchang-Medium";
    color: var(--title-color);
    letter-spacing: 0.1rem;
    text-transform: lowercase;
}