/* Dark Mode */
#dark {
  --title-color: #ffffda;
  --text-color: #ffffdabf;
  --border-text-color: hsl(var(--hue), var(--sat), 25%);
  --body-color: #1b1b18;
  --container-color: #1b1b1b;
  --box-shadow-img: 0 0 0 9px rgba(254, 254, 254, 1);
  --accent-color: #ffffda;
  --box-shadow: 1px 0px 19px -1px rgba(245, 222, 179, 0.75);
  --webkit-shadow: 1px 0px 19px -1px rgba(245, 222, 179, 0.75);
  --moz-box-shadow: 1px 0px 19px -1px rgba(245, 222, 179, 0.75);
  --nav-overlay-color: #eee7e1;
  /* Background */
  background-color: var(--body-color);
}
/* Light Mode */
#light {
  /* Colors */
  --title-color: hsl(var(--hue), var(--sat), 10%);
  --text-color: hsl(var(--hue), var(--sat), 40%);
  --border-text-color: hsl(var(--hue), var(--sat), 60%);
  --body-color: #f4eee1;
  --container-color: #fffdfb;
  --accent-color: hsl(var(--hue), var(--sat), 0%);
  --box-shadow: -4px 2px 20px 1px rgba(63, 63, 63, 0.3);
  --webkit-shadow: -4px 6px 31px 0px rgba(93, 110, 96, 0.6);
  --moz-box-shadow: -4px 6px 31px 0px rgba(93, 110, 96, 0.6);
  --accent-color-darker: #ffefd0;
  --nav-overlay-color: #1b1b1b;
  --blog-text-color: hsl(var(--hue), var(--sat), 55%);
  /* Background */
  background-color: var(--body-color);
}

:root {
  /* Common Colors */
  --mode: light;
  /* Initial mode set to 'light' */
  background-color: #fef3de;
  /* Default Colors */
  --hue: 0;
  --sat: 0%;
  --title-color: hsl(var(--hue), var(--sat), 30%);
  --title-color-dark: hsl(var(--hue), var(--sat), 0%);
  --text-color: hsl(var(--hue), var(--sat), 46%);
  /* =========== Font And Typography =========== */
  --normal-font-size: 1rem;
}



/* ========== Base ========== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}


body {
  max-width: 100vw;
  overflow-x: hidden;
  transition: all 1s cubic-bezier(0.16, 1, 0.3, 1);
}

#root {
  background-color: var(--body-color);
}

.no-scroll {
  overflow: hidden;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);

}


h1,
h2,
h3 {
  color: var(--title-color);
  font-weight: var(--font-semi-bold);
  font-family: "Satoshi-Bold", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* ========== REUSABLE CSS CLASSES ========== */


/* ========== REUSABLE CSS CLASSES ========== */

.container {
  max-width: 1278px;
  margin-left: auto;
  margin-right: auto;
}

.containered {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.gridded {
  display: grid;
  gap: 1.5rem;
}


/* ========== REUSABLE CSS CLASSES ========== */


::-webkit-scrollbar {
  width: 0.8rem;
  height: 0.5rem;
  margin-block: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
  border-radius: 10px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50px;
}
::selection {
  background: var(--title-color);
  color: var(--container-color);
}
.hiddenn {
  display: none;
}

.no-scroll {
  overflow: hidden;
}

@font-face {
  font-family: 'Satoshi';
  src: url('../public/fonts/Satoshi-Variable.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Variable.woff') format('woff'),
    url('../public/fonts/Satoshi-Variable.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Light';
  src: url('../public/fonts/Satoshi-Light.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Light.woff') format('woff'),
    url('../public/fonts/Satoshi-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: 'Satoshi-Regular';
  src: url('../public/fonts/Satoshi-Regular.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Regular.woff') format('woff'),
    url('../public/fonts/Satoshi-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}




@font-face {
  font-family: 'Satoshi-Medium';
  src: url('../public/fonts/Satoshi-Medium.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Medium.woff') format('woff'),
    url('../public/fonts/Satoshi-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Satoshi-MediumItalic';
  src: url('../public/fonts/Satoshi-MediumItalic.woff2') format('woff2'),
    url('../public/fonts/Satoshi-MediumItalic.woff') format('woff'),
    url('../public/fonts/Satoshi-MediumItalic.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: italic;
}


@font-face {
  font-family: 'Satoshi-Bold';
  src: url('../public/fonts/Satoshi-Bold.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Bold.woff') format('woff'),
    url('../public/fonts/Satoshi-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Satoshi-Black';
  src: url('../public/fonts/Satoshi-Black.woff2') format('woff2'),
    url('../public/fonts/Satoshi-Black.woff') format('woff'),
    url('../public/fonts/Satoshi-Black.ttf') format('truetype');
  font-weight: 900;
  font-display: swap;
  font-style: normal;
}



@font-face {
  font-family: 'Panchang-Variable';
  src: url('../public/fonts/Panchang-Variable.woff2') format('woff2'),
    url('../public/fonts/Panchang-Variable.woff') format('woff'),
    url('../public/fonts/Panchang-Variable.ttf') format('truetype');
  font-weight: 200 800;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Extralight';
  src: url('../public/fonts/Panchang-Extralight.woff2') format('woff2'),
    url('../public/fonts/Panchang-Extralight.woff') format('woff'),
    url('../public/fonts/Panchang-Extralight.ttf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Light';
  src: url('../public/fonts/Panchang-Light.woff2') format('woff2'),
    url('../public/fonts/Panchang-Light.woff') format('woff'),
    url('../public/fonts/Panchang-Light.ttf') format('truetype');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Regular';
  src: url('../public/fonts/Panchang-Regular.woff2') format('woff2'),
    url('../public/fonts/Panchang-Regular.woff') format('woff'),
    url('../public/fonts/Panchang-Regular.ttf') format('truetype');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Medium';
  src: url('../public/fonts/Panchang-Medium.woff2') format('woff2'),
    url('../public/fonts/Panchang-Medium.woff') format('woff'),
    url('../public/fonts/Panchang-Medium.ttf') format('truetype');
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Semibold';
  src: url('../public/fonts/Panchang-Semibold.woff2') format('woff2'),
    url('../public/fonts/Panchang-Semibold.woff') format('woff'),
    url('../public/fonts/Panchang-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Bold';
  src: url('../public/fonts/Panchang-Bold.woff2') format('woff2'),
    url('../public/fonts/Panchang-Bold.woff') format('woff'),
    url('../public/fonts/Panchang-Bold.ttf') format('truetype');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}


@font-face {
  font-family: 'Panchang-Extrabold';
  src: url('../public/fonts/Panchang-Extrabold.woff2') format('woff2'),
    url('../public/fonts/Panchang-Extrabold.woff') format('woff'),
    url('../public/fonts/Panchang-Extrabold.ttf') format('truetype');
  font-weight: 800;
  font-display: swap;
  font-style: normal;
}